body {
    margin: 0;
}

.body {
    position: relative;
    font-family: sans-serif;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 80%;
    background-color:#ECECEC;
    align-items: flex-start;
}

.title {
    width: 100%;
}

.main-menu {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin: -10px -10px;
}

.second-menu {
    width: 400px;
    display: inline-block;
    background-color: white;
    /* height: 315px; */
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.second-menu-title {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
}

.delivering {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delivering-text {
    font-size: 14px;
    line-height: 17px;
}

.delivering-price {
    font-size: 14px;
    line-height: 17px;
}

.delivering-btn {
    width: 100%;
    height: 62px;
    background: #FF6C01;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
