.card {
    max-width: 230px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
}

.card-body {
    padding: 10px 10px;
}

.card-photo {
    height: 230px;
}

.card-photo img{
    border-radius: 5px;
}

.card-text {
    padding: 12px 27px;
}

.product-name {
    cursor: pointer;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.product-info {
    color: #A1A1A1;
    font-size: 10px;
}

.card-row {
    height: 35px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.product-price {
    display: flex;
    margin: 0;
    align-items: center;
    width: 113px;
}

.product-btn {
    display: none;
    width: 113px;
    height: 35px;
    border: none;
    background: #FF6C01;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.card:hover > .card-text > .card-row .product-price{
    display: none;
}

.card:hover > .card-text > .card-row .product-btn{
    display: block;
}

.product-like {
    display: flex;
    margin: 0;
    align-items: center;
    cursor: pointer;
}